[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[access "refs/*"]
	owner = group user/Sungwoo Park (swpark)
	owner = group user/allan park (mcjino21)
	owner = group user/jung hyun kim (nxrohan)
	owner = group user/pybok81
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JongKeunChoi
	label-Verified = -1..+1 group user/JongKeunChoi
	push = group user/JongKeunChoi
	read = group user/JongKeunChoi
	rebase = group user/JongKeunChoi
	removeReviewer = group user/JongKeunChoi
	submit = group user/JongKeunChoi
[access "refs/heads/*"]
	create = group user/JongKeunChoi
	push = +force group user/JongKeunChoi
	pushMerge = group user/JongKeunChoi
	read = group user/JongKeunChoi
[access "refs/tags/*"]
	push = group user/JongKeunChoi
	push = +force group user/JongKeunChoi
[receive]
	requireSignedOffBy = true
	requireChangeId = true
